


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #132586;
    color: white;
    text-align: -webkit-center;
  }
  a, button {
    cursor: pointer;
    text-decoration: none;
  }